body {
    background-image: url("background.jpg");
    padding-top: 25%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-family: 'Arial Black', Arial, sans-serif;
    color: white;
}

button {
    width: 20%;
}
 
